<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/course">Course</a></li>
            <li><a href="/developer">Developer</a></li>
        </ul>
    </nav>
</header>
